.creation_container {
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 25px;
  margin-top: 20px;
}
