.drawer_container {

  .drawer_heading {
    display: flex;
    justify-content: space-between;
  }

  .drawer_input_container{
    margin-top: 40px;
  }

  .drawer_color_container{
    margin-top: 40px;
  }

  .done_button{
    margin-top: 300px;
  }
}
