.drawer_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .drawer_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .drawer_heading_text {
      font-size: 2rem;
    }

    .close_button {
      border: none;
      background: transparent;
      text-align: center;
      cursor: pointer;
      display: flex;
      justify-content: center;

      .icon {
        height: 20px;
        width: 20px;
      }
    }
  }

  .drawer_input_container {
    margin-top: 40px;
  }

  .drawer_color_container {
    margin-top: 40px;
  }

  .error {
    padding: 20px 0px;
    color: #ff0000;
  }

  .done_button {
    justify-content: flex-end;
  }
}
