.input_container {
  .input_text_header {
    margin: 4px 0px;
  }

  .input_text_container {
    width: 200px;

    .input_text {
      outline: none;
      border-radius: 3px;
      padding: 2px 5px;
      font-size: 10px;
      width: 100%;
    }
  }
}
