@import "./breakpoints";

.input_container {
  .input_text_header {
    margin: 8px 0px;
    font-size: 1.2rem;
  }

  .input_text_container {
    width: 20rem;

    @include xl {
      width: 15rem;
    }

    .input_text {
      outline: none;
      border-radius: 3px;
      padding: 8px;
      font-size: 15px;
      width: 100%;
    }
  }
}
