@import "./fonts";

@import "./navbar";

@import "./creative";

@import "./button";

@import "./drawer";

@import "./input";

@import "./color";

@import "./dashboard";

.App {
  height: 100vh;
  border: 5px solid black;
  border-radius: 5px;

  .container {
    display: flex;
    margin: 0px 100px;

    .dashboard {
      width: 65%;
      height: calc(100vh - 65px);
      padding: 35px 20px;
    }

    .drawer {
      width: 35%;
      height: calc(100vh - 65px);
      padding: 35px 0px 35px 25px;
      display: none;
      border-left: 5px solid black;
    }
  }
}
