@import "./fonts";

@import "./navbar";

@import "./creative";

@import "./button";

@import "./drawer";

@import "./input";

@import "./color";

@import "./dashboard";

@import "./breakpoints";

.App {
  height: 100vh;
  border: 5px solid black;
  border-radius: 5px;

  .container {
    display: flex;
    margin: 0px 100px;
    @include md {
      margin: 0;
      flex-direction: column;
    }
    

    .dashboard {
      width: 65%;
      height: calc(100vh - 65px);
      padding: 35px 20px;
      margin-right: 5px;

      @include sm {
        width: 100%;
      }

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        background-color: #ffffff;
        border: 1px solid black;
        margin: 15px 0px;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: #000000;
        border: 1px solid transparent;
        border-radius: 10px;
        background-clip: content-box;
      }
    }

    .drawer {
      width: 35%;
      height: calc(100vh - 65px);
      padding: 35px 0px 35px 25px;
      display: none;
      border-left: 5px solid black;

      @include sm {
        width: 100%;
        border: 5px solid black;
      }

      @include md {
        width: 100%;
        border: 5px solid black;
      }
    }
  }
}
